.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.phone-container {
  background-color: grey;
  height: 100%;
  width: 100%;

  /*centre phone*/
  display: flex;
  justify-content: center;
  align-items: center;
}

.phone{
  width: 506.25px;
  height: 900px;
  /* scrollable screen*/
  overflow-y: scroll;
}

*{
  margin:0;
  padding: 0;;
  box-sizing:border-box;
  font-family:Nunito;
  color:black;
  background-color: skyblue;
}

#city, #country
{
  text-align: center;
  color:white;
  font-family: Verdana, sans-serif;
  font-size: 4em;
}

#country
{
  font-size: 2em;
  margin-bottom: 1em;
}

.week
{
  margin: 2rem;
}

.first, #temp, #detail, #det, #Day, .rest
{
  text-align: center;
  margin-right: auto;
  margin-left: auto;
  color: black;
  font-family: sans-serif;
  font-size: 1em;
}

#currIcon
{
  width: 60%;
  height: auto;
  padding: 0;
  margin: 0px;
  border: 0;
}

#temp
{
  font-size: 2rem;
  color: black;
}

#change
{
  color: black;
}

tr#Day
{
  font-size: 1.3rem;
  color: green;
}

#detail, #det
{
  text-align: left;
}

#detail
{
  text-transform: capitalize;
}

.first
{
  margin-bottom: 2rem;
}

th#sub, .dropdown>#sub
{
  padding-bottom: 1rem;
}

.rest
{
  border: solid 0.1em black;
  border-radius: 10px;
}

#detail
{
  color:darkblue;
}

.button {
  border: 0ch;
  color: black;
  cursor: pointer;
  font-size: 40px;
  float: left;
}

.dropdown{
  text-align: center;
  color: #61dafb;
  align-items: center;
  justify-content: center;
}

.p1 {
  font-family: "Times New Roman", Times, serif;
}
